.burger {
    width: 30px;
    fill: white;
    margin-right: 20px;

}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

/*
.namjernice {

    display: grid;
    grid-template-columns: auto auto auto;
}

.c-namjernice {
    margin: auto;
}

.form-check {
    margin-bottom: 20px;
}

.recepti {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 300px;
}

.r-card {
    margin-bottom: 50px;
}

.hrana_slika {
    height: 500px;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_box {
    height: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.containerr {
    /*
    border: 2px solid black;
    width: 1500px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
   */
/*
    background-color: white;
    width: 1000px;
    height: 600px;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: auto;
    padding: 10px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: baseline;

}

.foodItems {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 150px;
    margin-bottom: 20px;

}

.itemButtons1 {
   
    width: 500px;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
   
}

.myButton {
    color: white;
    background-color: brown;
    margin: 10px;
    
}
.myButton:hover{
    background-color: rgb(204, 90, 90);
}

.test{
    display: grid;
    grid-template-columns: auto auto;
}
*/


.bcColor {
    background-color: rgb(245, 245, 245);
}

.content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.itemCard {

    cursor: pointer;
    padding-top: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;

}
.itemCard:hover {
    scale: 1.1;
}

.itemCard img {
    align-self: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.cardText {
    margin-top: 20px;
    margin-top: 10px;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
}

.myBtn{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid gray;
    width: max-content;
    padding: 5px 20px;
    border-radius: 15px;
}
