.burger {
    width: 30px;
    fill: white;
    margin-right: 20px;

}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}




.bcColor {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
}

.content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.itemCard {

    cursor: pointer;
    padding-top: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;

}

.itemCard:hover {
    scale: 1.1;
}

.itemCard img {
    align-self: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.cardText {
    margin-top: 20px;
    margin-top: 10px;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    
}

.myBtn {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid gray;
    width: max-content;
    padding: 5px 20px;
    border-radius: 15px;
}

.uploadContent {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    width: 950px;
    height: 450px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uploadContent input {
    padding: 5px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid gray;
}

.uploadContent textarea {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    border: 1px solid gray;
}

.uploadContent .myBtn {
    align-self: flex-end;
}
.myBtn:hover {
    scale: 1.1;
    background-color: gray;
    color: white;
    border: none;
}
.viewRecipe {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    width: 950px;
    height: 800px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewRecipe img {
    cursor: pointer;
    align-self: center;
    object-fit: cover;
    width: 940px;
    height: 350px;
    border-radius: 15px;
}

.viewRecipe img:hover {
    scale: 1.02;
}
.ingredient-list {
    display: flex;
    gap: 15px;
}

.ingredient {
    text-align: center;
    border-radius: 100vh;
    width: 120px;
    padding: 5px 0px;
    background-color: lightcoral;
    color: white;
}


.choose-ingredients {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1450px;
    height: 350px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.category-card {
    padding: 10px 15px;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}

.category-card .myBtn {
    background-color: lightcoral;
    color: white;
    border: none;
}

.buttons {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.bottom-area {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.chosen-ingredients {
    padding: 10px 15px;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    box-shadow: rgba(0,0, 8, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}

.item-card {
    padding: 10px 15px;
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    resize: vertical;
    overflow: auto;
   
}

.item-card .myBtn {
    background-color: lightcoral;
    color: white;
    border: none;
}
.item-recepie-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

